@use './common' as *;

/* Сброс базовых стилей */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", "Segoe UI", sans-serif;
    color: $color-text;
    background: $color-bg;
}