@use './../../style/theme' as *;

.food-feed {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.content-block {
  width: 100%;
  max-width: 9000px;
  margin-bottom: 3px;
  background-color: $color-surface;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}


.food-item {
  width: 100%;
  max-width: 9000px;
  margin-bottom: 3px;
  margin-top: 3px;
  background-color: $color-surface;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &__image-container{
    background: black;
    width: 160px;
    height: 160px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 10px;
  }

  &__info-container{
    display: flex;
    flex-direction: column;
  }
}