@use './../../style/theme' as *;
@use './../../style/typography' as *;

.hint-with-link {
  @include ui-text;
  color: $color-text-secondary;
  margin-top: 1.5rem;

  a {
    color: $color-primary;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;

    &:hover {
      color: $color-primary-hover;
    }
  }
}