@use '../../../style/theme' as *;
@use '../../../style/typography' as *;

.main-container {
  width: 100%;
  max-width: 9000px;
  margin-bottom: 3px;
  margin-top: 3px;
  background-color: $color-surface;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: default;
}

.image-container {
  background: $color-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border-radius: 30px;
  overflow: hidden;
  margin-right: 10px;
}

.info-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 5px;
}

.tags-container {
  display: flex;
  flex-direction: row;
  max-width: 70%;
  border-radius: 12px;
}
.tag{
  @include ui-text;
  background: $color-primary;
  margin-right: 4px;
  padding: 3px;
  border-radius: 12px;
}